header {
  background-color: #ffe100;
  position: sticky;
  width: 100%;
  top: 0; }
  header nav {
    text-align: center;
    padding: 20px; }
    header nav .logo {
      color: #6161aa;
      font-weight: bold; }
      header nav .logo:hover {
        text-decoration: none; }
      header nav .logo .foto-logo {
        width: 90px;
        height: 45px; }
    header nav a {
      color: #595e63;
      margin: 25px;
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px; }
      header nav a:hover {
        color: black;
        text-decoration: underline 2px solid; }

* {
  margin: 0;
  padding: 0; }
