header {
    background-color: #ffe100;
    position: sticky;
    width: 100%;
    top: 0;

    nav {
        text-align: center;
        padding: 20px;

        .logo {
            color: rgb(97, 97, 170);
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }

            .foto-logo {
                width: 90px;
                height: 45px;
            }
        }

        a {
            color: rgb(89, 94, 99);
            margin: 25px;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;

            &:hover {
                color: black;
                text-decoration: underline 2px solid;
            }
        }
    }
}